<% if @thread.errors.any? %>
    <div class='alert alert-danger'>
        <% @thread.errors.full_messages.each do |error| %>
            <span><%= error %></span><br>
        <% end %>
    </div>
<% end %>
<%= form_for @thread do |f| %>
    <div class='form-group'>
        <%= f.label :title, class: 'control-label' %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class='form-group'>
        <%= f.label :content, class: 'control-label' %>
        <%= f.text_area :content, rows: 10 ,class: 'form-control' %>
    </div>
    <div class='form-group'>
        <%= f.submit "Buat", class: 'btn btn-primary' %>
    </div>
<% end %>